@page "/public"
@inject HttpClient http

<h2>public timeline - it is actually good</h2>
<TwitDisplayer Fetcher="@GetTwitData"/>

@code
{
    public async Task<MsgDataAndLength> GetTwitData(int startIndex, int pageSize)
    {
        var d  = await http.GetFromJsonAsync<MsgDataAndLength>($"/minitwit?startIndex={startIndex}&pageSize={pageSize}") 
            ?? new(0, Array.Empty<MsgDataPair>());
        return d;
    }
}