@page "/{username}"
@inject HttpClient http
@inject NavigationManager navigation
@inject UserService uService

<h2>@username timeline</h2>

@if (uService.ActiveUser is not null)
{
    <div class=followstatus>
    @if (uService.ActiveUser.Username == username)
        {
            <span>this is you!</span>
        }
        else
        {
            if (Followed)
            {
                <span>You are currently following this user.</span>
                <a class=unfollow @onclick="HandleUnFollow">
                    Unfollow user
                </a>
            }
            else
            {
                <span>You are not yet following this user.</span>
                <a class=follow @onclick="HandleFollow">
                    Follow user
                </a>
            }
        }
    </div>
}
<TwitDisplayer Fetcher="@GetTwitData" />

@code
{
    private User? User;

    public bool Followed { get; set; }

    [Parameter]
    public string? username { get; set; }

    protected override async Task OnInitializedAsync()
    {
        User = uService.ActiveUser;
        var httpRes = await http.GetAsync($"/minitwit/{username}");
        if (!httpRes.IsSuccessStatusCode)
        {
            navigation.NavigateTo("/public");
            return;
        }

        if (User is not null)
        {
            Followed = await http.GetFromJsonAsync<bool>($"/minitwit/is-follower/{User.Username}/{username}");
        }
    }

    public async Task<MsgDataAndLength> GetTwitData(int startIndex, int pageSize)
    {
        var httpRes = await http.GetAsync($"/minitwit/{username}?startIndex={startIndex}&pageSize={pageSize}");
        if(!httpRes.IsSuccessStatusCode)
        {
            return new(0, Array.Empty<MsgDataPair>());
        }
        var dataPairs = await httpRes.Content.ReadFromJsonAsync<MsgDataAndLength>();
        return dataPairs is null ? new(0, Array.Empty<MsgDataPair>()) : dataPairs;
    }

    private async Task HandleFollow()
    {
        var resp = await http.PostAsJsonAsync<User>($"/minitwit/{username}/follow", User);
        if (resp.IsSuccessStatusCode)
        {
            //Tell the user that they are indeed following the user...
            Followed = true;
        }
        else
        {
            //Alert user that something went wrong?
        }
    }

    private async Task HandleUnFollow()
    {
        var resp = await http.PostAsJsonAsync<User>($"/minitwit/{username}/unfollow", User);

        if (resp.IsSuccessStatusCode)
        {
            //Tell the user that they are indeed following the user...
            Followed = false;
        }
        else
        {
            //Alert user that something went wrong?
        }
    }
}