@inject UserService uService
@inherits LayoutComponentBase

<!doctype html>
<title>Welcome | MiniTwit</title>

<div class=page>
  <h1>MiniTwit</h1>
  <div class=navigation>
    @if(uService.ActiveUser is not null)
    {
      <a href="/">my timeline</a> 
      <a href="/public">public timeline</a> 
      <a href="/logout">sign out [@uService.ActiveUser.Username]</a>
    }
    else
    {
      <a href="/public">public timeline</a> 
      <a href="/register">sign up</a> 
      <a href="/login">sign in</a>
    }
  </div>
  <div class=body>
    @Body
  </div>
  <div class=footer>
    MiniTwit &mdash; A Blazor Application
  </div>
</div>